@import "tailwindcss";
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark,cupcake,bumblebee,lemonade,night,coffee,luxury,sugarplum;
 }


/*For printing in pdf format */
@media print {

  body {
    margin: 0;
  }

  .resume-container {
    width: 210mm;
    min-height: 297mm;
    padding: 12mm 15mm;
    font-size: 11.5px;
    line-height: 1.4;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 13px;
  }

  section {
    page-break-inside: avoid;
  }

  .btn {
    display: none;
  }
}